.menu-item {
  background-position: center center;
  background-size: cover;
  background-color: rgba(0,0,0,.5);
  background-repeat: no-repeat;
  height: 140px;
  .menu-item-info {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
  }
}
.padding-10 {
  padding: 10px;
}
.menu-col-3 {
  width: 100%/4;
  float: left;
  padding: 8px;
}
.all-menu {
  overflow: hidden;
  padding: 8px !important;
  .portlet-title {
    padding: 8px !important;
  }
}
.modal-override {
  display: flex!important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: initial;
  width: 100%;
}
.view-item {
  .portlet-title {
    overflow: hidden;
    height: 50px;
    line-height: 47px;
    padding: 0 15px;
  }
  .modal-header {
    min-height: 50px;
    padding: 0;
  }
  .modal-body {
    padding: 8px;
    overflow: hidden;
  }
}
