<div class="page-content page-item">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          Widget settings form goes here
        </div>
        <div class="modal-footer">
          <button type="button" class="btn blue">Save changes</button>
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <!-- BEGIN PAGE HEADER-->
  <!-- BEGIN PAGE HEAD -->
  <div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>Product Edit <small>create & edit product</small></h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
  <!-- END PAGE HEAD -->
  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="index.html">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">eCommerce</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Product Edit</a>
    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-basket font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">
                Edit Product </span>
            <span class="caption-helper">Man Tops</span>
          </div>
          <div class="actions btn-set">
            <button type="button" name="back" class="btn btn-default btn-circle" ng-click="goMenu()"><i class="fa fa-angle-left"></i> Back</button>
            <button class="btn btn-default btn-circle" ng-click="resetItem()"><i class="fa fa-reply"></i> Reset</button>
            <button class="btn green-haze btn-circle" ng-click="saveFood()"><i class="fa fa-check"></i> Save</button>
            <button class="btn green-haze btn-circle"><i class="fa fa-check-circle"></i> Save & Continue Edit</button>
            <div class="btn-group">
              <a class="btn yellow btn-circle" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i> More <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="javascript:;">
                    Duplicate </a>
                </li>
                <li>
                  <a href="javascript:;">
                    Delete </a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="javascript:;">
                    Print </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portlet-body">

          <tabset>
            <tab heading="General">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-body">
                    <table class="table table-bordered table-hover">
                      <thead>
                      <tr role="row" class="heading">
                        <th width="15%">
                          Image
                        </th>
                        <th width="85%">
                          Label
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          <a class="fancybox-button" data-rel="fancybox-button" ng-click="openMedia('lg')">
                            <img class="img-responsive" ng-src="{{item.image}}" alt="">
                          </a>
                        </td>
                        <td>
                          <input type="text" class="form-control" placeholder="Thumbnail image" ng-model="item.imageThumbnail">
                        </td>

                      </tr>
                      </tbody>
                    </table>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-2 control-label">Name: <span class="required">
                        * </span>
                        </label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" ng-model="item.name">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                     <div class="row">
                       <label class="col-md-2 control-label">Price: <span class="required">
                      * </span>
                       </label>
                       <div class="col-md-10">
                         <input type="text" class="form-control" ng-model="item.price" ng-pattern="/^[0-9\.]+$/" required ui-number-mask="0">
                       </div>
                     </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-2 control-label">Description:
                        </label>
                        <div class="col-md-10">
                          <textarea class="form-control" ng-model="item.description"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-2 control-label">Categories: <span class="required">
                        * </span>
                        </label>
                        <div class="col-md-10">
                          <div class="form-control height-auto">
                            <div class="scroller" style="max-height: 150px; overflow-y: scroll;">
                              <ul class="list-unstyled list-categories">
                                <li ng-repeat="data in categories">
                                  <label ng-click="addCategory(data._id)"><input type="radio" name="categoryNumber"  ng-model="categoryNumber" ng-value="data">{{data.name}}</label>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <span class="help-block"> select one or more categories </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-2 control-label">Available Date:
                        </label>
                        <div class="col-md-10">
                          <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                            <input type="text" class="form-control" name="product[available_from]">
                            <span class="input-group-addon">
                            to </span>
                            <input type="text" class="form-control" name="product[available_to]">
                          </div>
                          <span class="help-block">
                          availability daterange. </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-2 control-label">SKU:
                        </label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" name="product[sku]" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group create-options">
                    <div class="control-label">
                      Food options:
                    </div>
                    <div horizontal layout ng-repeat="item in item.options" style="margin-bottom: 10px">
                      <input type="text" class="form-control" placeholder="name" ng-model="item.name">
                      <input type="text" class="form-control" placeholder="price" ng-model="item.price">
                      <button type="button" class="btn btn-danger" ng-click="deleteFoodOptions($index)"><i class="fa fa-minus"></i></button>
                    </div>
                    <div horizontal layout>
                      <input type="text" class="form-control" placeholder="name" ng-model="option.name">
                      <input type="text" class="form-control" placeholder="price" ng-model="option.price" ng-pattern="/^[0-9\.]+$/" required ui-number-mask="0">
                      <button type="button" class="btn btn-danger" style="visibility: hidden"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="plus-add">
                      <button type="button" class="btn btn-default" ng-click="addFoodOptions()" ng-disabled="!option.name.length"><i class="fa fa-plus"></i></button>
                    </div>
                  </div>

                  <div class="form-group create-options">
                    <div class="control-label">
                      Discounts:
                    </div>
                    <div horizontal layout ng-repeat="item in item.discounts" style="margin-bottom: 10px">
                      <input type="text" class="form-control" placeholder="name" ng-model="item.name">
                      <input type="text" class="form-control" placeholder="amount" ng-model="item.amount">
                      <button type="button" class="btn btn-danger" ng-click="deleteFoodDiscounts($index)"><i class="fa fa-minus"></i></button>
                    </div>
                    <div horizontal layout>
                      <input type="text" class="form-control" placeholder="name" ng-model="discount.name">
                      <input type="text" class="form-control" placeholder="amount" ng-model="discount.amount" ng-pattern="/^[0-9\.]+$/" required ui-number-mask="0">
                      <button type="button" class="btn btn-danger" style="visibility: hidden"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="plus-add">
                      <button type="button" class="btn btn-default" ng-click="addFoodDiscounts()" ng-disabled="!discount.name.length"><i class="fa fa-plus"></i></button>
                    </div>
                  </div>
                </div>
              </div>

            </tab>
            <tab heading="Images">Images</tab>
            <tab heading="Reviews">Reviews</tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT-->
</div>
