<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          Widget settings form goes here
        </div>
        <div class="modal-footer">
          <button type="button" class="btn blue">Save changes</button>
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <!-- BEGIN PAGE HEADER-->

  <!-- BEGIN PAGE BREADCRUMB -->
  <ul class="page-breadcrumb breadcrumb">
    <li>
      <a href="index.html">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">eCommerce</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Orders</a>
    </li>
  </ul>
  <!-- END PAGE BREADCRUMB -->
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row">
    <div class="col-md-12">
      <!-- Begin: life time stats -->
      <div class="portlet light all-menu">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-book-open font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Menu</span>
            <span class="caption-helper">manage menus...</span>
          </div>
          <div class="actions">
            <a class="btn btn-circle btn-default" ng-click="createFood()">
              <i class="fa fa-plus"></i>
								<span class="hidden-480">
								New Item </span>
            </a>
            <div class="btn-group">
              <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i>
									<span class="hidden-480">
									Tools </span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="javascript:;">
                    Export to Excel </a>
                </li>
                <li>
                  <a href="javascript:;">
                    Export to CSV </a>
                </li>
                <li>
                  <a href="javascript:;">
                    Export to XML </a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="javascript:;">
                    Print Invoices </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portlet-body">

          <tabset>

            <tab ng-repeat="item in allFoods" class="tabs-category">
              <tab-heading>
                {{item.name}} <i class="glyphicon glyphicon-remove" ng-click="deleteCategory(item._id, $index)"></i>
              </tab-heading>
              Justified content
            </tab>

            <li class="add-new-category">
              <div horizontal layout center ng-hide="addNewCategory">
                <a class="btn btn-icon-only green" ng-click="addNewCategory = true">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
              <form class="form-inline" ng-show="addNewCategory">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputName2" placeholder="Name category" ng-model="category.name">
                </div>
                <button type="button" class="btn btn-default green" ng-click="createCategory()">Submit</button>
                <button type="button" class="btn btn-default red" ng-click="addNewCategory = false"><i class="fa fa-times"></i></button>
              </form>
            </li>
          </tabset>

        </div>
      </div>
      <!-- End: life time stats -->
    </div>
  </div>
  <!-- END PAGE CONTENT-->
</div>
